<form class="sp-custom-fields sp-mt-4 validate"
      data-ajax="ajax"
      method="POST"
      action="{{ route('ticket.frontend.ticket.saveFields', {'number': ticket.number}) }}">

    {{ form_hidden('token', Request.input('token')) }}

    {% include 'frontend.' ~ template ~ '.forms.custom_fields' %}

    {% if ticket.locked == 0 and not no_save %}
        <div class="sp-form-button print:sp-hidden">
            {{ form_submit(Lang.get('general.save')) }}
        </div>
    {% endif %}
</form>
